<div class="page__footer-copyright">
  <div class="footer__columns">
    <div class="footer__column footer__column--left">
      Updated {{ "now" | date: "%A, %B %d, %Y %I:%M %p %Z" }}
      <br> 
      <span title="{{ site.data.build_info.build_id }}">
      Built ID: {{ site.data.build_info.build_id  }}
      <br>
      © {{ "now" | date: "%Y" }}  Copyright Creative Commons Attribution 4.0 - Yashwanth Pandi
      <br>
      <a href="{{ base_path }}/privacy-policy/">Privacy Policy</a>
      <span> · </span>
      <a href="{{ base_path }}/sitemap/">Sitemap</a>
    </div>
    <!-- <div class="footer__column footer__column--right">
     
    </div> -->
  </div>
</div>