<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js antialiased bg-gray-50 text-gray-900"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
  </head>
  <body class="flex min-h-screen flex-col bg-slate-50 text-slate-900">
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <main id="page-content" class="w-full flex-1">
      {{ content }}
    </main>

    {% include footer/custom.html %}

    {% include scripts.html %}
  </body>
</html>